footer {
    width: 100vw;
    background-color: #4E4E4E;  
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 71px;
    padding: 20px 0;
    
}
footer h1 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}
.icons i {
    color: #FFFFFF;
    width: 31px;
    height: 31px;
}
.icons a {
    margin-left: 15px;
}

@media screen and (min-width: 768px) {
    
    .footer-container {
        flex-direction: row;
        padding: 0;
    }
}