html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.landing-page {
    width: 100vw;
    height: 100vh;
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
}
.landing-page-container {
    display: flex;
    align-items: center;
    height: 100%;
}
.landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba (0, 0, 0, .15);
}
.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 87%;
    height: 35%;
}
.landing-page-text h1, .landing-page-text h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.landing-page-text h2 {
    font-size: 18px;
}
.landing-page-text button {
    border: 3px solid white;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
    padding: 6px 35px;
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}
.about {
    background: #F1F1F1;
    padding: 3% 0;
}
.about-header {
    font-weight: bold;
    font-size: 36px;
    color: #152D41;
    text-align: center;
    padding: 20px 0;
}

.person-img {
    flex-shrink: 0;
    width: 199px;
    height: 199px;
    background: url('https://picsum.photos/200');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.person h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 21px 0;
    text-align: left;
}
.person p {
    font-size: 18px;
    padding: 0 0 10px 0;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
    
    .landing-page-text {
        width: 65%;
        height: 30%;
    }

    .about-header {
        text-align: left;
    }

    .person {
        flex-direction: row;
        padding: 5% 0;
    }

    .person h3 {
        text-align: center;
    }
    .person p {
        text-align: center;
    }

    .person-img {
      margin-bottom: 0;
    }

    .person:nth-of-type(even) h3, .person:nth-of-type(even) p, .person:nth-of-type(even) {
        text-align: right;
    }

    .person:nth-of-type(odd) h3, .person:nth-of-type(odd) p {
        text-align: left;
    }

    .person:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .person:nth-of-type(even) .person-img {
        margin-left: 20px;
    }
    .person:nth-of-type(odd) .person-img {
        margin-right: 20px;
    }

}

@media screen and (min-width: 1024px) {
    
    .container {
        width: 960px;
    }

    .landing-page-text button {
        cursor: pointer;
        transition: 1s all;
    }

    .landing-page-text button:hover { 
        background-color: white;
        color: black;
    }
}


