nav {
    background-color: #4E4E4E;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.nav-container h1 {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.nav-container a {
    font-size: 18px;
    color: #F1F1F1;
}

.nav-toggle {
    justify-self: flex-end;
    display: initial;
    position: relative;
    color: white;
    left: 28%;
}

.links-container a {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .nav-container a {
        font-size: 18px;
        color: #F1F1F1;
    }

    .nav-toggle {
        display: none;
    }

    .links-container a {
        display: inline;
        margin-left: 40px;
    }
}

@media screen and (min-width: 1024px) {

    .links-disabled {
        cursor: not-allowed;
    }
}