.offer {
    width: 100%;
    height: 100%;
    background-color: #405D78;
    background-size: cover;
}
.offer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    padding-top: 45px;
}
.box-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 85%;
    grid-template-rows: auto;
    justify-content: center;
    grid-row-gap: 25px;
    padding: 5% 0;
}

.box-container > div::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color: #F1F1F1;
}

.box-container > div {
    position: relative;
}

div .box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 24px; 
}
.box-extended {
    font-size: 18px;
    padding-top: 5px;
}
.ellipse {
    width: 22px;
    height: 22px;
    background-color: #E07A64;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: -3%;
    top: -3%;
}

@media screen and (min-width: 768px) {

    .offer {
        padding: 30px 0;
    }

    .offer-header {
        justify-content: flex-start;
        font-size: 36px;
        padding-top: 30px;
    }

    .box-container {
        grid-template-columns: 40% 40%;
        grid-template-rows: auto;
        justify-content: center;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    
    .box-container {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        justify-content: center;
        grid-row-gap: 10%;
        grid-column-gap: 4%;
        padding: 5% 0;
        margin-bottom: 25px;
    }

    .box-container .box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;  
        width: 200px;
        height: 200px;
        background-color: #F1F1F1;
        font-size: 24px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 0.5s;
        transition-timing-function: linear;  
    }
    .box-extended {
        font-size: 18px;
        padding-top: 5px;
    }

    .box-container > div::after {
        display: none;
    }

    .box:hover {
        transform: scale(1.05);
    }
}