html {
    scroll-behavior: smooth;
}
body {

    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 960px;
    margin: 0 auto;
}
nav {
    background-color: #4E4E4E;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.nav-container h1 {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}
.nav-container a {
    font-size: 18px;
    color: #F1F1F1;
}
.links-container a {
    margin-left: 40px;
}
.links-disabled {
    cursor: not-allowed;
}
.landing-page {
    width: 100vw;
    height: 100vh;
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
}
.landing-page-container {
    display: flex;
    align-items: center;
    height: 100%;
}
.landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba (0, 0, 0, .15);
}
.landing-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 26%;
}
.landing-page-text h1, .landing-page-text h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}
 .landing-page-text h2 {
    font-size: 18px;
}
.landing-page-text button {
    border: 3px solid white;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
    padding: 6px 35px;
    cursor: pointer;
    transition: 1s all;
}
.landing-page-text button:hover { 
    background-color: white;
    color: black;
}
.person {
    display: flex;
    align-items: center;
    padding: 5% 0;
}
.about {
    background: #F1F1F1;
    padding: 3% 0;
}
.about-header {
    font-weight: bold;
    font-size: 36px;
    color: #152D41;
}
.person:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}
.person:nth-of-type(even) .person-img {
    margin-left: 20px;
}
.person:nth-of-type(odd) .person-img {
    margin-right: 20px;
}
.person-img {
    flex-shrink: 0;
    width: 199px;
    height: 199px;
    background: url('https://picsum.photos/200');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.person h3 {
    font-weight: bold;
    font-size: 18px;
    padding: 21px 0;
}
.person p {
    font-size: 18px;
    padding: 0 0 10px 0;
}
.offer {
    width: 100%;
    height: 100%;
    background-color: #405D78;
    background-size: cover;
    height: 734px;
}
.offer-header {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 30px;
}
.box-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    grid-row-gap: 10%;
    grid-column-gap: 4%;
    padding: 5% 0;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #F1F1F1;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    transition-timing-function: linear;  
}
.box-extended {
    font-size: 18px;
    padding-top: 5px;
}
.box:hover {
    transform: scale(1.05);
}
.ellipse {
    width: 22px;
    height: 22px;
    background-color: #E07A64;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: -3%;
    top: -3%;
}
footer {
    width: 100vw;
    background-color: #4E4E4E;  
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
}
footer h1 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}
.icons i {
    color: #FFFFFF;
    width: 31px;
    height: 31px;
}
.icons a {
    margin-left: 15px;
}